@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.SetCard{
  &__wrapper{
    transition: ease-in-out 0.2s;
    height: 275px;
    background-color: $light-grey;
    box-shadow: 0 0 15px 2px rgba($light-grey, 0.6);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom:45px;
    &:hover{
      box-shadow: 0 0 30px 3px rgba($light-grey, 0.8);
    }
  }
  &__content{
    width:calc(40% - 45px);
    position:absolute;
    right:0;
    top:0;
    padding:35px;
  }
  &__tag{
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: $bright-yellow;
    @include font-caps($white);
    display:inline-block;
    padding: 0 15px;
  }
  &__headline{
    @include card-headline($dark-grey);
    margin-top:15px;
  }
  &__description{
    margin-top:15px;
    @include font-blocktext($dark-grey);
  }
  &__video{
    height:275px;
  }
  &__heart{
    &:hover{
      cursor: pointer;
    }
    
    &::after{
    transition: ease-in-out 0.3s;
    font-family: iconfont;
    font-size:24px;
    content: "\e904";
    -webkit-text-fill-color: $light-grey;
    -webkit-text-stroke-width: 1px;
    color: $taupe;
    position: absolute;
    z-index: +1;
    right:30px;
    top:30px;
    }
  }

  @keyframes fade-in-out {
    0% {opacity:0; transform: translateY(0)}
    30% {opacity:0.75}
    50% {opacity:0.75}
    100% {opacity:0; transform: translateY(-50px)}
  }
  @keyframes scale-in-out {
     0% {transform:scale(1)}
    30% {transform:scale(1.2)}
    50% {transform:scale(1.2)}
    100% {transform:scale(1)}
  }
}