@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/grid.scss';

.Filters.collapsed{
  width:5%;
  height: 100%;
}

.Filters{
  position: relative;
  background-color: rgba($light-grey, 0.7);
  padding:30px 45px 45px;
  &__headline{
    @include font-caps($dark-peach);
    display:inline-block;
  }
  &__headline.collapsed{
    transform: translate(-130px, 30px) rotate(270deg);
    transform-origin: right;
    display: block;
    width:130px;
  }
  &__filtergroup{
    padding-top:25px;
  }
  &__labels, &__radiogroup{
    display:flex;
    justify-content: space-between;
  }
  &__labels{
    @include font-blocktext($white);
    padding-bottom:5px;
  }
  &__radiogroup{
    position: relative;
    &::before{
      content:"";
      display:block;
      width: 100%;
      top: 6px;
      border-bottom: 1px solid $taupe;
      position: absolute;
      z-index: 0;
    }
  }
  &__input::after{
    content:'';
    background: $light-grey;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid $white;
    border-radius: 50%;
    position: relative;
    transition: all .2s linear;
    opacity: 1;
    top:-1px;
  }
  &__collapse{
    float:right;
    &:hover{
        cursor: pointer;
      }
    &::after{
      font-family: iconfont;
      content: "\e90e";
      font-size:25px;
      position: relative;
      color:$dark-peach;
    }
  }
  &__collapse.collapsed{
    &::after{
    font-family: iconfont;
    content: "\e90c";
    font-size: 25px;
    position: relative;
    color: #d9af99;
    top: -25px;
    left: 50%;
    }
  }
  &__reset{
    position: absolute;
    width: calc(100% - 90px);
    bottom: 30px;
    z-index: 2;
  }
  &__locked{
    &::after{
    font-family: iconfont;
    content: "\e90d";
    font-size: 20px;
    position: absolute;
    color: #d9af99;
    top: 35px;
    right: 45px;
    }
  }
  &__tooltip{
    display: inline;
     &:hover{
      cursor: help;
    }
    &:hover .tooltip01{
      visibility: visible;
    }
     &::after{
    font-family: iconfont;
    content: "\e911";
    font-size: 25px;
    position: absolute;
    color: #d9af99;
    top: 30px;
    right: 45px;
    }
  }
  &__tooltip .tooltip {
  visibility: hidden;
  background-color: $dark-blue;
  border-radius: 15px;
  padding: 15px 30px;
  position: absolute;
  z-index: 2;
  right:90px;
  width:100%;
  top:0;
  @include font-blocktext($white);
  }
  &__tooltip-headline{
    @include font-caps($dark-peach);
    width:100%;
    display:block;
    margin-bottom:5px;
  }
  &__label{
    &--left, &--right{
    position: relative;
    }
  }
  &__label--left .tooltip,
  &__label--right .tooltip{
  visibility: hidden;
  white-space: nowrap;
  background-color: $dark-blue;
  border-radius: 15px;
  padding: 15px 30px;
  position: absolute;
  z-index: 3;
  top: -15px;
  right: calc(105% + 15px);
  @include font-blocktext($white);
  }
  &__label--rough:hover .tooltip-rough{
      visibility: visible;
    }
    &__label--slow:hover .tooltip-slow{
      visibility: visible;
    }
    &__label--hard:hover .tooltip-hard{
      visibility: visible;
    }
    &__label--rectilineal:hover .tooltip-rectilineal{
      visibility: visible;
    }
    &__label--static:hover .tooltip-static{
      visibility: visible;
    }
    &__label--fast:hover .tooltip-fast{
      visibility: visible;
    }
    &__label--smooth:hover .tooltip-smooth{
      visibility: visible;
    }
    &__label--soft:hover .tooltip-soft{
      visibility: visible;
    }
    &__label--blurry:hover .tooltip-blurry{
      visibility: visible;
    }
    &__label--arched:hover .tooltip-arched{
      visibility: visible;
    }
    &__label--flexible:hover .tooltip-flexible{
      visibility: visible;
    }
}

input[type="checkbox"],
input[type="radio"] {
  background-color:transparent;
    opacity: 1;
    position: relative;
    z-index: +1;
    width:9px;
    height:9px;
    top:2px;
    &:disabled:hover{
      cursor: not-allowed;
    }
    &:hover{
      cursor: pointer;
    }
}

input[type="checkbox"]:checked.Filters__input::after,
input[type="radio"]:checked.Filters__input::after {
    background-color: $bright-yellow;
    border-color: $bright-yellow;
}