$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrowupload: "\e915";
$icon-flatupload: "\e916";
$icon-plus: "\e912";
$icon-help: "\e911";
$icon-upload: "\e910";
$icon-trash: "\e90f";
$icon-expand: "\e90c";
$icon-lock: "\e90d";
$icon-minimize: "\e90e";
$icon-arrow: "\e90b";
$icon-cart: "\e900";
$icon-chevron-down: "\e901";
$icon-close: "\e902";
$icon-code: "\e903";
$icon-edit: "\e904";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-love-filled: "\e907";
$icon-love: "\e908";
$icon-scroll: "\e909";
$icon-search: "\e90a";

