@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.Button{
  &__button-wrapper{
    width: 23%;
    position: relative;
    border-radius: 20px;
   overflow: hidden;
    border: 1px solid $dark-peach;
  }
&__button{
        width:100%;
        overflow: hidden;
         border:none;
         z-index: 7;
         background: $dark-blue;
         transition: ease-out 0.2s;
         cursor: pointer;
        &:hover{
          color: $dark-blue;
          z-index: 7;
          background:transparent;
        }
        @include font-caps($dark-peach);
         
        &::after{
          transition: ease-out 0.2s;
           width:100%;
           background-color: $dark-peach;
           content: "";
           height:33px;
           display:block;
           position: absolute;
           top:0;
           left:-100%;
           opacity: 0.2;
           z-index:-1;
           border: 2px solid $dark-peach;
        }
        &:hover.Button__button::after{
            transform: translateX(100%);
            opacity:1;
        }
    }
  }