@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.CrossSellCard{
  display:flex;
  display:inline-block;
  &__wrapper{
    background-color: $white;
    box-shadow: 0 0 18px 2px rgba(229,221,221,0.6);
    border-radius: 15px;
  }
  &__content{
    padding:35px;
    position: relative;
  }
  &__tags{
    max-width: 85%;
  }
  &__tag{
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: $bright-yellow;
    @include font-caps($white);
    display:inline-block;
    padding: 0 15px;
  }
  &__headline{
    @include card-headline($dark-grey);
    margin-top:15px;
    &:visited{
      text-decoration: none;
    }
  }
  &__description{
    margin-top:15px;
    @include font-blocktext($dark-grey);
  }
  &__video{
    height:275px;
    width:100%;
    border-radius: 15px 0 0 15px;
  }
  &__heart{
    position: absolute;
    top:0;
    right:0;
    &:hover{
      cursor: pointer;
    }
    &:hover.CrossSellCard__heart::after{
      color: $dark-peach;
    }
    &::after{
    transition: ease-in-out 0.3s;
    font-family: iconfont;
    font-size:24px;
    content: "\e907";
    -webkit-text-fill-color: $white;
    -webkit-text-stroke-width: 1px;
    color: $taupe;
    position: absolute;
    z-index: +1;
    right:30px;
    top:30px;
    }
    &--full{
      &:hover{
      cursor: pointer;
    }
      &::after{
      font-family: iconfont;
    font-size:24px;
    content: "\e907";
    opacity: 0;
    color: $dark-peach;
    position: absolute;
    right:30px;
    top:30px;
      }
    }
  }
  .saved{
    &::after{
      animation: 0.4s scale-in-out ease-in-out;
      color: $dark-peach;
      -webkit-text-fill-color: $dark-peach;
      -webkit-text-stroke-width: 1px;
    }
  }
  .savedbg{
    color: $dark-peach;
    &::after{
      animation: 0.6s fade-in-out ease-in-out;
    }
  }
  @keyframes fade-in-out {
    0% {opacity:0; transform: translateY(0)}
    30% {opacity:0.75}
    50% {opacity:0.75}
    100% {opacity:0; transform: translateY(-50px)}
  }
  @keyframes scale-in-out {
     0% {transform:scale(1)}
    30% {transform:scale(1.2)}
    50% {transform:scale(1.2)}
    100% {transform:scale(1)}
  }
}