@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.Detail{
  position: relative;
  &__darker{
    width: 100vw;
    height: 100vh;
    background-color: $dark-blue;
    opacity:0.8;
    position:fixed;
    z-index: +4;
    top:0;
  }
   &__brandtraits{
     width:23%;
     height:100%;
   }
   &__background.collapsed, .Detail__brandtraits.collapsed{
     width: 5%;
   }
   &__left{
     width:28%;
     height: 100%;
     position: relative;
     @media (min-width:1600px){
      width: 23%;
    }
   }
   &__adjustments .Filters__filtergroup .Filters__labels .Filters__label--left:hover,
   &__adjustments .Filters__filtergroup .Filters__labels .Filters__label--right:hover{
      cursor: help;
   }
   &__adjustments, &__code{
      border-radius: 15px 0 0 15px;	
      height:calc(100% - 60px);
      margin-top:60px;
   }
   &__cart{
    position: absolute;
    right:0;
    width:100%;
  }
     &__add{
    position: absolute;
    z-index: +2;
    right:30px;
    bottom:30px;
    width:30%;
  }
   &__wrapper{
     margin-top:60px;
     display:flex;
     height: 700px;
     position: relative;
     justify-content: space-between;
   }
   &__animation{
     transition: ease all 0.3s;
     width:calc(77% - 120px);
     margin: 0 0 0 0;
     height:100%;
     background: rgba($light-blue, 0.7);
     border-radius: 15px;
     display:flex;
     position: relative;
     z-index: 0;
     @media (min-width:1440px){
      width: 44%;
      margin: 0 60px;
    }
    @media (min-width:1600px){
      width: 54%;
    }
   }
   &__animation.wider{
     width: calc(77% - 120px);
     @media (min-width:1440px){
      width: calc(72% - 120px);
    }
    @media (min-width:1600px){
      width: calc(72% - 120px);
    }
   }
   &__component{
     margin:auto;
   }
   &__switcher{
     transition: ease all 0.3s;
      position: relative;
      top: calc(50% - 30px);
      left: 30px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $dark-peach;
      z-index: +2;
      &:hover{
        cursor: pointer;
        box-shadow: 0 0 20px 0 $dark-peach;
      }
      &::after{
        font-family: iconfont;
        font-size:26px;
        content: "\e903";
        font-weight: bold;
        color: $white;
        position: relative;
        top: calc(50% - 13px);
        left: calc(50% - 13px);
      }
   }
   &__background{
     transition: ease all 0.3s;
     border-radius: 0 15px 15px 0;
     height: 100%;
     width:28%;
     display:none;
     @media (min-width:1440px){
      display: block;
    }
    @media (min-width:1600px){
      width: 23%;
    }
   }
   &__select-overlay{
     border-radius: 15px;
     @include font-blocktext($white);
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: rgba($light-blue, 0.95);
     z-index: +2;
     text-align: right;
   }
   &__save-option:first-of-type{
      border-top: 1px solid rgba($dark-peach,0.4);
    }
    &__save-option{
      height:45px;
      transition: ease all 0.3s;
      padding: 8px 10px;
      border-bottom: 1px solid rgba($dark-peach,0.4);
      &:hover{
        cursor: pointer;
        background: rgba($dark-peach,0.4);
      }
      &::before{
        transition: ease all 0.3s;
        font-family: iconfont;
        font-size:16px;
        font-weight: bold;
        content: "\e912";
        color: $white;
        position: absolute;
        left:10px;
      }
    }
    &__available-sets{
      position: absolute;
      width: calc(100% - 90px);
      bottom: 90px;
      right: 45px; 
    }
    &__empty{
      margin:60px 0 0 30px;
    }
}

.overflow{
overflow-y:scroll;
}
.overflow-hidden{
  overflow: hidden;
}

   .fade-in-enter-active .fade.in-leave.active{
  transition: opacity 0.5s;
}
.fade-in-enter .fade-in-leave-to{
  opacity: 0;
}

@keyframes bounce-in {
  0% {
    transform: translateX(-4%);
    opacity: 0.8;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-4%);
    opacity: 0.8;
  }
}