@import '../../styles/colors.scss';

.Detail,.Sets,.Set{
  padding:60px 60px 0 60px;
}

a, .nuxt-link-exact-active, .AnimationCard__link{
text-decoration: none;
}

body{
  background-color: $mid-blue;
}

.hidden{
  overflow-y: hidden;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}