@import '../../styles/colors.scss';

.Detail,.Sets,.Set{
  padding:30px 30px 0 30px;
  @media (min-width:768px){
   padding:60px 60px 0 60px;
    }
}

a, .nuxt-link-exact-active, .AnimationCard__link{
text-decoration: none;
}

body{
  background-color: $mid-blue;
}

.hidden{
  overflow-y: hidden;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}