@import '../../styles/grid.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.Sets{
  &__darker{
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: $dark-blue;
    opacity:0.8;
    position:fixed;
    z-index: +4;
  }
  &__content{
  display:flex;
  }

  &__right{
    position:sticky;
    top:15px;
    width:25%;
    height: 800px;
  }

  &__overview-feed{
    @include grid-width();
    padding:0;
    margin-top:60px;
    position: relative;
  }

  &__feed{
    margin: 45px 30px 0 0;
  }

  &__results{
    @include font-blocktext($dark-grey);
    margin-bottom: 30px;
  }

  &__info{
    display:flex;
  }

  &__button{
    position: absolute;
    right:0;
    &--import{
      position: absolute;
      right: 300px;
    }
  }

  &__filters{
    position: absolute;
    right:0;
    top:60px;
    width:23%;
    border-radius: 15px 0 0 15px;
  }

  &__wrapper{
    position: relative;
    padding-top:60px;  
  }

  &__export{
    position: absolute;
    right:0;
    top:0;
  }

   &__remove{
    position: absolute;
    right:0;
    top:765px;
    width: 100%;
  }
  
  &__remove.noset{
    top: 30px;
  }
  &__preloader{
        margin:60px auto;
    }
}