@import '../../styles/grid.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.Sets{
  &__feed{
    @include grid-width();
    padding:0;
    margin-top:60px;
    position: relative;
  }
  &__results{
    @include font-blocktext($dark-grey);
    margin-bottom: 30px;
  }
  &__info{
    display:flex;
  }
  &__button{
    position: absolute;
    right:0;
  }
}