@import '../../styles/grid.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.Sets{
  overflow-x:hidden;
  &__back-wrapper{
    display: none;
    position: relative;
    @media (min-width:768px){
      display: inline;
    }
  }
  &__back{
    top: 45px;
  width:60px;
  height:60px;
  border: 1px solid $light;
  border-radius: 50%;
  position: absolute;
  transform:rotate(180deg);
  &:hover{
    animation: toggleleft 1s infinite;
  }
  &::after{
    top:calc(50% - 12px);
    left:calc(50% - 12px);
      position: absolute;
      font-family: iconfont;
      font-size:24px;
      content: "\e90b";
      color:$white;
    }
}
  &__darker{
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: $dark-blue;
    opacity:0.8;
    position:fixed;
    z-index: +4;
  }
  &__content{
  display:flex;
  }

  &__right{
    position:sticky;
    top:15px;
    width:25%;
    height: 800px;
  }

  &__overview-feed{
    @include grid-width();
    padding:0;
    margin-top:30px;
    position: relative;
    @media (min-width:768px){
      margin-top:60px;
    }
  }

  &__feed{
    margin: 45px 30px 0 0;
  }

  &__results{
    @include font-blocktext($dark-grey);
    margin-bottom: 75px;
    @media (min-width:768px){
      margin-bottom: 30px;
    }
  }

  &__info{
    display:flex;
  }

  &__button{
    position: absolute;
    right:0;
    top:30px;
    width:100%;
    @media (min-width:768px){
      top:0;
      display: block;
      width:initial;
    }
    &--import{
      display:none;
      position: absolute;
      right: 300px;
      @media (min-width:768px){
      display: block;
    }
    }
  }

  &__filters{
    position: absolute;
    right:0;
    top:60px;
    width:23%;
    border-radius: 15px 0 0 15px;
  }

  &__wrapper{
    position: relative;
    padding-top:60px;  
  }

  &__export{
    position: absolute;
    right:0;
    top:0;
  }

   &__remove{
    position: absolute;
    right:0;
    top:765px;
    width: 100%;
  }
  
  &__remove.noset{
    top: 30px;
  }
  &__preloader{
        margin:60px auto;
    }
}