@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.EmptyPlaceholder{

  transition: ease-in-out 0.2s;
  height: 275px;
  background-color: $light-grey;
  box-shadow: 0 0 15px 2px rgba($light-grey, 0.6);
  border-radius: 15px;
  position: relative;
  padding: 20px 30px;

  &__caps{
    @include font-caps($dark-peach);
  }

  &__headline{
    @include card-headline($dark-grey);
  }

   &__description{
    margin-top:15px;
    @include font-blocktext($dark-grey);
  }

  &__button-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top:80px;
  }
  &__button{
    width:calc(50% - 15px);
    z-index: +1;
  }
}