@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";
@import "../../styles/grid.scss";

.Hero{
  height: 740px;
  background-image: url('./../../assets/images/fingerprint.svg');
  background-color: $dark-blue;
  background-size:cover;
  border-radius: 15px 15px 0 0;
  display:flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  box-shadow: 10px 10px 30px 20px rgba($dark-blue,0.3);
  &__content{
    height:100%;
    padding-top: 40px;
  }

  &__left{
    position: relative;
    padding-right: 30px;
  }
  &__middle{
    height:100%;
    top:0;
    z-index: +1;
    width:422px;
    overflow: hidden;
    background-color: $dark-blue;
    box-shadow: -10px 0 20px 10px rgba($dark-blue,0.35);
  }
  &__intro{
    height:80%;
    position: relative;
    top:15%;
    animation: fade-in 1s forwards;
  }

&__subheadline{
  @include font-caps($dark-peach);
   width:346px;
}
&__headline{
  padding-bottom:20px;
  width:346px;
  &--left{
    @include font-headline($white);
  }
  &--right{
    @include font-headline($dark-blue);
  }
}
&__description{
   width:346px;
  &--left{
    @include font-blocktext($white);
  }
  &--right{
     @include font-blocktext($dark-blue);
  }
}
&__info{
  background-color: $light;
  width: 492px;
  height: 80%;
  border-radius: 0 0 15px 0;
  padding: 45px;
  margin-bottom:30%;
  z-index: 2;
  box-shadow: 0 0 20px 20px rgba($dark-blue,0.5);
}
&__scroll{
  position: absolute;
  bottom:0;
  right:0;
  z-index: 2;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
  background-color: $bright-yellow;
  height: 140px;
  width: 103px;
  border-radius: 15px 0 0 0;
 @include font-caps($white);

}
&__scroll-text{
width:100%;
text-align: center;
 &::after{
   font-family: iconfont;
    font-size:24px;
    content: "\e909";
    width:100%;
    height:24px;
    animation: scrollDown 1.5s infinite ease-in-out;
    display: block;
    position: relative;
    top:10px;
 } 
}
&__video{
  height:246.66px;
  object-fit:cover;
}
&__single-video{
  width:100%;
  height:246.66px;
  object-fit:cover;
}
&__logo{
    position: absolute;
    top:30px;
    right:30px;
    background-image: url('../../assets/images/logo.svg');
    width:128px;
    height:24px;
    background-size:cover;
  }
&__main {
  display:flex;
  position: relative;
  width: $grid-width;
  border-radius: 15px 15px 0 0;
}
&__preloader{
  position: absolute;
  top: 20px;
  right: 30px;
}
&__setlink{
  margin-top:30px;
  position: absolute;
  width:65%;
}

}

@keyframes scrollDown {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
  }
}

.slick-slide{
margin-top:-3px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

  .slick-arrow{
    position: absolute;
     &:active{
      border-style:solid;
    }
  }


  .slick-next{
    cursor: pointer;
    bottom:50%;
    right:-90px;
    width:60px;
    height:60px;
    border-radius: 50%;
    z-index: 999;
    background-color:transparent;
    font-size: 0;
    transition: ease all 0.4s;

     &:hover{
       animation: toggle 1s infinite;
    }
    &::after{
      font-family: iconfont;
    font-size:24px;
    content: "\e90b";
    color: $dark-blue;
    }
  }

.slick-dots {
	display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;
    right:350px !important;
    bottom:7.5%;
	
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.5rem;
		}
  
    li.slick-active button {
			background-color: $bright-yellow !important;
    }
    
		button {
			display: block;
			width: 0.5rem;
			height: 0.5rem;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: rgba($white, 0.3) !important;
      text-indent: -9999px;
		}
}

@keyframes toggle {
  0% {transform: translateX(0)}
  50% {transform: translateX(10px)}
  100% {transform: translateX(0)}
}

.bounce-enter-active{
  animation: bounce-in 0.4s 0.15s;
}
.bounce-leave-active{
  animation: bounce-out 0.15s;
}
.bounce-leave-to{
  transform: translateX(-4%);
}
.bounce-enter-to{
  transform: translateX(0);
  opacity:1;
}
@keyframes bounce-in {
  0% {
    transform: translateX(-4%);
    opacity: 0.8;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-4%);
    opacity: 0.8;
  }
}

@keyframes fade-in{
 0% {
   transform: translateY(50px);
   opacity: 0;
  };
 100% {
   transform: translate(0);
   opacity: 1;
  }
 }