@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/grid.scss';


.CrossRefSlider{
  max-width: $grid-width;
  margin:auto;
  height: 580px;
  @media (min-width:992px){
      height: 630px;
    }
  @media (min-width:1440px){
      height: auto;
    }
  &__subheadline{
    @include font-caps($dark-peach);
    margin-top:90px;
  }
  &__headline{
    @include font-headline($white);
    margin-bottom:30px;
  }
  .slick-arrow{
      position: absolute;
  }
  .slick-next{
    cursor: pointer;
    top:-90px;
    right:15px;
    width:60px;
    height:60px;
    border-radius: 50%;
    z-index: +2;
    border-color: $taupe;
    background-color:transparent;
    font-size: 0;
    display: none !important;
    &::after{
      font-family: iconfont;
    font-size:24px;
    content: "\e90b";
    color: $taupe;
    font-weight:bold;
    }
     &:hover{
       animation: toggle 1s infinite;
    }
    @media (min-width:768px){
      display: block !important;
    }
    @media (min-width:1440px){
      top:calc(50% - 30px);
      right:-80px;
    }
  }
.slick-slider{
    position: relative;
}
    /* the slides */
.slick-slide {
    margin: 20px 16px;
}
/* the parent */
.slick-list {
    margin: 0 -16px;
}
.slick-prev{
    cursor: pointer;
    top:-90px;
    right: 120px;
    width:60px;
    transform: rotate(180deg);
    height:60px;
    border-radius: 50%;
    z-index: +2;
    border-color: $taupe;
    background-color:transparent;
    font-size: 0;
    display:none !important;
    @media (min-width:768px){
      display: block !important;
    }
    @media (min-width:1440px){
      top:calc(50% - 30px);
      left:-80px;
    }
    &:hover{
       animation: toggleleft 1s infinite;
    }
    &::after{
      font-family: iconfont;
    font-size:24px;
    content: "\e90b";
    color: $taupe;
    font-weight:bold;
    }
  }
  .slick-list
{
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    @media (min-width:1440px){
      overflow: hidden;
    }
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
}
@keyframes toggleleft {
  0% {transform: rotate(180deg) translateX(0)}
  50% {transform: rotate(180deg) translateX(10px)}
  100% {transform:rotate(180deg) translateX(0)}
}

