@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.AnimationCard{
   &__wishlist-overlay{
     position: absolute;
     top:0;
     right:0;
      width:100%;
      height:275px;
      background-color: rgba($light-blue, 0.97);
    }
    &__close{
      position: absolute;
      top:30px;
      left:30px;
      &:hover::before{
          cursor:pointer;
          opacity: 1;
        }
      &::before{
        transition: ease all 0.3s;
        font-family: iconfont;
        font-size:22px;
        font-weight: bold;
        content: "\e902";
        color: $dark-peach;
        opacity: 0.4;
        z-index: 3;
      }
    }
    &__wishlist-wrapper{
     overflow-y: auto;
      @include font-blocktext($white);
      position: absolute;
      right:30px;
      top:90px;
      width:calc(100% - 60px);
      height: calc(100% - 90px);
      text-align: right;
    }
    &__save-option:first-of-type{
      border-top: 1px solid rgba($dark-peach,0.4);
    }
    &__save-option{
      height:45px;
      transition: ease all 0.3s;
      padding: 8px 10px;
      border-bottom: 1px solid rgba($dark-peach,0.4);
      &:hover{
        cursor: pointer;
        background: rgba($dark-peach,0.4);
      }
      &::before{
        transition: ease all 0.3s;
        font-family: iconfont;
        font-size:16px;
        font-weight: bold;
        content: "\e912";
        color: $white;
        position: absolute;
        left:10px;
      }
    }
  &__wrapper{
    transition: ease-in-out 0.2s;
    background-color: $light-blue;
    box-shadow: 10px 10px 20px 20px rgba($dark-blue, 0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    @media (min-width:768px){
      height: 275px;
    }
    &:hover{
      box-shadow: 10px 10px 20px 20px rgba($dark-blue, 0.4);
    }
  }

  a.AnimationCard__link{
    &--left{
      @media (min-width:768px){
        height:100%;
        width: 40%;
        display:block;
      }
    }
  }
  &__content{
    width: 100%;
    right:0;
    top:0;
    padding:30px 35px 35px 35px;
    @media (min-width:768px){
    position:absolute;
    width:60%;
    height:100%;
    }
  }
  &__tags{
    width:90%;
  }
  &__tag{
    border-radius: 15px;
    margin: 7.5px;
    background-color: $bright-yellow;
    @include font-caps($white);
    display:inline-block;
    padding: 0 15px;
  }
  &__headline{
    @include card-headline($dark-grey);
    margin-top:15px;
  }
  &__description{
    margin-top:15px;
    @include font-blocktext($dark-grey);
  }
  &__video{
    height:275px;
    width:100%;
    object-fit:cover;
  }
  &__delete{
    
    &:hover{
      cursor: pointer;
      &::before{
        transform: scale(1.3) translate(2px,-8px) rotate(45deg);
      }
      &::after{
        transform:scale(1.3);
      }
    }
    &::after{
    transition: ease all 0.5s;
    font-family: iconfont;
    font-size:24px;
    content: "\e914";
    color: $dark-peach;
    position: absolute;
    z-index: +1;
    right:30px;
    top:30px;
    }
    &::before{
    transition: ease all 0.5s;
    font-family: iconfont;
    font-size:24px;
    content: "\e917";
    color: $dark-peach;
    position: absolute;
    z-index: +1;
    right:30px;
    top:30px;
    }
  }
  &__heart{
    &:hover{
      cursor: pointer;
    }
    &:hover.AnimationCard__heart::after{
      color: $dark-peach;
    }
    &::after{
    transition: ease-in-out 0.3s;
    font-family: iconfont;
    font-size:24px;
    content: "\e907";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: rgba($dark-peach, 0.4);
    position: absolute;
    z-index: +1;
    right:30px;
    top:30px;
    }
    &--full{
      &:hover{
      cursor: pointer;
    }
      &::after{
      font-family: iconfont;
    font-size:24px;
    content: "\e907";
    opacity: 0;
    color: $dark-peach;
    position: absolute;
    right:30px;
    top:30px;
      }
    }
  }
  .saved{
    &::after{
      animation: 0.4s scale-in-out ease-in-out;
      color: $dark-peach;
      -webkit-text-fill-color: $dark-peach;
      -webkit-text-stroke-width: 1px;
    }
  }
  .savedbg{
    color: $dark-peach;
    &::after{
      animation: 0.6s fade-in-out ease-in-out;
    }
  }
  @keyframes fade-in-out {
    0% {opacity:0; transform: translateY(0)}
    30% {opacity:0.75}
    50% {opacity:0.75}
    100% {opacity:0; transform: translateY(-50px)}
  }
  @keyframes scale-in-out {
     0% {transform:scale(1)}
    30% {transform:scale(1.2)}
    50% {transform:scale(1.2)}
    100% {transform:scale(1)}
  }
  scrollbar-color: rgba($dark-peach,0.4) $light-blue;

  ::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

::-webkit-scrollbar-track-piece  {
    background-color: $light-blue;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
    background-color: rgba($dark-peach, 0.4);
}
}
