@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.PopupCode{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  z-index: +5;
  overflow: hidden;

  &__scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right:17px;
    box-sizing: content-box;
  }
  
  &__window{
    padding:45px 60px;
    width:50%;
    background-color: $light-blue;
    box-shadow: 0 0 15px 2px rgba($light-blue, 0.6);
    border-radius: 15px;
    margin:auto;
    margin-bottom:3%;
    position: relative;
    top:5%;
  }
  &__close{
    &:hover{
      cursor: pointer;
    }
    &::before{
    font-family: iconfont;
    content: "\e902";
    font-size: 25px;
    position: absolute;
    top:45px;
    right:45px;
    color: $dark-peach;
    }
  }
  &__title {
    width:100%;
    height:0;
    @include font-caps($dark-peach);
  }
  &__headline:first-of-type{
    margin-top:45px;
  }

  &__headline{
    @include card-headline($white);
    margin-top:30px;
  }
  &__subheadline{
    @include font-blocktext($white);
  }
 
  &__description{
    height: 172px;
    padding-top:8px;
    resize:none;
  }
  &__code{
    position: relative;
  }
  &__copy {
    position: absolute;
    right:15px;
    top:10px;
  font-size: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @include font-caps($dark-peach);
  
  &:hover {
    cursor: pointer;
  }

  svg {
    width: 1.5em;
    margin-left: 0.5em;
    fill: none;
    stroke: $dark-peach;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: center;
  }
}
&__codeblock{
  position: relative;
  margin-top: 15px;
  background: $dark-blue;
  padding: 30px;
  border-radius: 15px;
}
}

/* syntax highlighting */
.hljs,
.hljs-subst {
  @include font-blocktext($white);
}

.hljs-strong,
.hljs-emphasis {
  color: $white;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: $white;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: $bright-yellow;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: $white;
}

.hljs-symbol,
.hljs-attribute {
  color: $dark-peach;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: $bright-yellow;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: $white;
}

